html, body, #fbapi-app {
	height: 100%;
	margin: 0;
}

.query-container-toggle-button, .send-button, .body-container-toggle-button {
	top: 21px;
	position: relative;
}

.body-container-toggle-button button {
	margin-left: 22px;
}

.request-body-container textarea {
	max-height: 300px;
	overflow: scroll;
}

.hidden {
	display: none;
}

button.pressed {
	font-weight: 500;
}

.main-container {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.request-container {
	border-bottom: 1px solid #eee;
	flex-shrink: 0
}

.response-container {
	flex-grow: 1;
	overflow: auto;
}
