html, body, #fbapi-app {
	height: 100%;
	margin: 0;
}

.query-container-toggle-button, .send-button {
	top: 21px;
	position: relative;
}

.hidden {
	display: none;
}

.main-container {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.request-container {
	border-bottom: 1px solid #eee;
	flex-shrink: 0
}

.response-container {
	flex-grow: 1;
	overflow: auto;
}
